* {
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}
 

$background-color: #DEE7DD;
$text-default: #ffffff;

@mixin type-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light {
  @include type-text;
}


